<h1>Pagina de detalle</h1>
{{#with currentRoom}}
  <h1>{{name}}</h1>
  <h2>Description: {{description}}</h2>
  <h2>No.beds: {{beds}}</h2>
  <h2>Price: {{price}}</h2>
  <h2>Location:{{location}}</h2>
  <img src={{image}} alt="foto" />

  <form action="/rooms/edit/{{_id}}" method="get">
    <button>Editar</button>
  </form>
  <form action="/rooms/delete/{{_id}}" method="post">
    <button>Borrar</button>
  </form>

  <a href="/rooms/create-review/{{_id}}">Escribe una reseña</a>

  {{#each reviews}}
    <h3>Titulo: {{title}}</h3>
    <p>Rate:{{rate}}</p>
    <p>Comments: {{comment}}</p>
    <p>UserId: {{user}}</p>
  {{/each}}
{{/with}}