<h1>Edit a Room</h1>

{{#with roomFound}}
<form action="/rooms/edit/{{_id}}" method="POST">
  <label>
    Name
    <input type="text" name="name" value="{{ name }}" />
  </label>
  <br />
  <label>
    Beds
    <input type="number" name="beds" value="{{ beds }}"/>
  </label>
  <br />
  <label>
    Guests
    <input type="number" name="guests" value="{{ guests }}"/>
  </label>
  <br />
  <label>
    Price
    <input type="number" name="price" value="{{ price }}"/>
  </label>
  <br />
  <label>
    Image
    <input type="text" name="image" value="{{ image }}"/>
  </label>
  <br />
  <label>
    Location
    <input type="text" name="location" value="{{ location }}"/>
  </label>
  <br />
  <label>
    Description
    <input type="text" name="description" value="{{ description }}"/>
  </label>

  <button type="submit">Submit</button>
</form>
{{/with}}