<h1>Listado de Rooms</h1>
<hr />
{{#each allRooms}}
  <h2>Name:{{name}}</h2>
  <h2>Description: {{description}}</h2>
  <h2>No.beds: {{beds}}</h2>
  <h2>Price: {{price}}</h2>
  <h2>Location:{{location}}</h2>
  <img src={{image}} alt="foto" />
  <hr />

{{/each}}